li a{
    color: white;
    margin: 0px;
    padding: 0px;
}

.img-covid{
    width: 100%;
}

.foo{
    text-align: left;;
}
.foo ul li{
    text-decoration: none;
    list-style: none;
}
button a{
    color: white;
}
.foo a{
    color:#2f4899;
    font-weight: 700;
}